.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  list-style: none;
  background-color: #222;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  margin: 0 1em;
  text-decoration: none;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.navbar li a:hover {
  color: #ffbb33;
  transition: .3s;
}

.logo {
  width: 2em;
}